$white: #ffffff;
$gray: #f5f5f5;
$alert-red: #c3370b;
$dark-light: #d4d9d9;
$dark-medium: #718484;
$dark: #3b4242;
$dark-gray: #7f8c8c;
$eluma-red: #ff3960;
$purple:#2d00ff;
$font-family: 'Rubik', sans-serif;
$gray: #f5f5f5;
$light-gray: #f1f3f3;
$lighter-gray: #e5e5e5;
$orange: #ff5900;
$dark-orange: #d77229;
$light-orange: #e79a2f;
$primary: #10aca2;
$primary-lighter: #e2f4f4;
$primary-light: #c4e8e8;
$primary-medium: #8bcfcf;
$primary-dark: #078888;
$primary-darker: #045c5c;
$selected-row: #e2f4f4;
$white: #ffffff;
$yellow-light: #f9efa7;
$yellow: #ffd500;
